body {
  background-color: black;
  
}



.int-name {
display: flex;
flex-direction: column;
padding: 5em;

}

.nombrejugador{
  text-align: center;
  color: white;
  justify-content:center;
  
}
input{
    width: 12em;;
    
    border: px solid #3b0d0d;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.botones-nivel{

  display: flex;
  padding: 7em;
 justify-content: center;
}
.boton-nivel1 {
  background-color: black;
  text-align: center;
  color: white;
  height: 5em;
  width: 9em;
  border-radius: 9px;
  border-color: blue;


}

.boton-nivel2 {
  background-color: black;
  text-align: center;
  color: white;
  height: 5em;
  width: 9em;
  border-radius: 9px;
  border-color: blue;


}

.boton-nivel3 {
  background-color: black;
  text-align: center;
  color: white;
  height: 5em;
  width: 9em;
  border-radius: 9px;
  border-color: blue;

}
