.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
    
    
     
}

    
    
.completar-con-colores{
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    
    
  
  

}

.colores{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    
}

.colores1{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: aqua;
}
.colores2{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: blue;
}
.colores3{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: hotpink;
}
.colores4{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: brown;
}
.colores5{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: greenyellow;
}
.colores6{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: indianred;
}
.colores7{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: black;
}
.colores8{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: cornflowerblue;
}
.colores9{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: coral;
}
.colores10{
    display: inline-block;
    margin: 0,1em;
    width: 40em ;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid black;
    background-color: crimson;
}