body{
    display: flex;
    background-color: black;
}

.titleI{
    
    display: grid;
    color: white;
    font-size: 30px;
}


.principal{
   
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.playI{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    width: 20em;
    height: 2em;
    border: 30%;
    border-color: white;
}

.about{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    width: 20em;
    height: 2em;
    border: 30%;
    border-color: white;
}